<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
  <test name="Test Basics 1">
      
      <classes>
      <class name="testCases.testCase2"/>
      <class name="testCases.AdminPageTC"/>
      </classes>
  </test> <!-- Test --> 

</suite> <!-- Suite -->